<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css" />
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <template id="stack">
      <s-tack>
        <p><s-entences count="1"></s-entences></p>
      </s-tack>
    </template>
    <g-rid items="start" slot="commented">
      <c-omment>
        <b-ox slot="commented">
          <s-tack>
            <i-mage aspectRatio="16/9"></i-mage>
            <h3><n-ame></n-ame></h3>
            <p><s-entences count="1"></s-entences></p>
          </s-tack>
        </b-ox>
        <div slot="comment">
          Here is a card.
        </div>
      </c-omment>
      <c-omment>
        <b-ox slot="commented">
          <s-tack>
            <i-mage aspectRatio="16/9"></i-mage>
            <h3><n-ame></n-ame></h3>
            <p><s-entences count="1"></s-entences></p>
          </s-tack>
        </b-ox>
        <div slot="comment">
          Here is another card.
        </div>
      </c-omment>
    </g-rid>
    <script type="module">
      {% for module in manifest.modules %}
        {% if module.exports.length > 0 %}
        import { {{ module.exports[0].name }} } from './{{ module.path }}'; 
        {% endif %}
      {% endfor %}
      {% for module in manifest.modules %}{% set name = module.exports[0].name %}{% set tagName = module.declarations[0].tagName %}{% if tagName %}customElements.define('{{tagName}}', {{name}}); {% endif %}{% endfor %}
    </script>
  </body>
</html>