c-heckbox .checkbox-check {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.25;
  border: var(--border-thin) solid;
  text-align: center;
}

c-heckbox i-con {
  visibility: hidden;
}

c-heckbox svg {
  vertical-align: 0;
}

c-heckbox :focus + .checkbox-label .checkbox-check {
  outline: var(--outline);
}

c-heckbox :checked + .checkbox-label i-con {
  visibility: visible;
}