t-ext {
  display: block;
}

t-ext span {
  display: inline-block;
  color: transparent;
  position: relative;
  pointer-events: none;
}

t-ext span::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - (var(--border-thin) / 2));
  bottom: calc(50% - (var(--border-thin) / 2));
  background-color: var(--color-dark);
  pointer-events: none;
}