s-elect {
  display: block;
}

.s-elect-wrap {
  position: relative;
}

s-elect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding-right: 2rem;
}

s-elect i-con {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

